body {
    background-color: rgb(20, 30, 39);
}

.zaSUN{
    background-color: rgb(185, 136, 29);
    border-style: solid;
    border-color: rgb(197, 73, 24);
    border-width: 10px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: auto;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom:0;
}

.Orbita1{
    border-style: solid;
    border-color: azure;
    border-width: 5px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: auto;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom:0;
}
.Orbita2{
    border-style: solid;
    border-color: azure;
    border-width: 5px;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    margin: auto;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom:0;
}
.Orbita3{
    border-style: solid;
    border-color: azure;
    border-width: 5px;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    margin: auto;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom:0;
}
.Orbita4{
    border-style: solid;
    border-color: azure;
    border-width: 5px;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    margin: auto;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom:0;
}
.Orbita5{
    border-style: solid;
    border-color: azure;
    border-width: 5px;
    width: 700px;
    height: 700px;
    border-radius: 50%;
    margin: auto;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom:0;
}
.Orbita6{
    border-style: solid;
    border-color: azure;
    border-width: 5px;
    width: 800px;
    height: 800px;
    border-radius: 50%;
    margin: auto;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom:0;
}
.Orbita7{
    border-style: solid;
    border-color: azure;
    border-width: 5px;
    width: 900px;
    height: 900px;
    border-radius: 50%;
    margin: auto;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom:0;
}
.Orbita8{
    border-style: solid;
    border-color: azure;
    border-width: 5px;
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    margin: auto;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom:0;
}


@keyframes rotate1 {
    0%{transform: rotate(0deg) translate(150px);}
    100%{transform: rotate(360deg) translate(150px);}
}
@keyframes rotate2 {
    0%{transform: rotate(0deg) translate(200px);}
    100%{transform: rotate(360deg) translate(200px);}
}
@keyframes rotate3 {
    0%{transform: rotate(0deg) translate(250px);}
    100%{transform: rotate(360deg) translate(250px);}
}
@keyframes rotate4 {
    0%{transform: rotate(0deg) translate(300px);}
    100%{transform: rotate(360deg) translate(300px);}
}
@keyframes rotate5 {
    0%{transform: rotate(0deg) translate(350px);}
    100%{transform: rotate(360deg) translate(350px);}
}
@keyframes rotate6 {
    0%{transform: rotate(0deg) translate(400px);}
    100%{transform: rotate(360deg) translate(400px);}
}
@keyframes rotate7 {
    0%{transform: rotate(0deg) translate(450px);}
    100%{transform: rotate(360deg) translate(450px);}
}
@keyframes rotate8 {
    0%{transform: rotate(0deg) translate(500px);}
    100%{transform: rotate(360deg) translate(500px);}
}


.Planeta1{
    background-color: rgb(24, 180, 24);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: auto;
    padding: 0;
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0;
    bottom:0;
    animation: rotate1 2s infinite linear;
}

.Planeta2{
    background-color: rgb(179, 50, 78);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: auto;
    padding: 0;
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0;
    bottom:0;
    animation: rotate2 4s infinite linear;
}

.Planeta3{
    background-color: rgb(40, 145, 194);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: auto;
    padding: 0;
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0;
    bottom:0;
    animation: rotate3 8s infinite linear;
}

.Planeta4{
    background-color: rgb(170, 180, 24);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: auto;
    padding: 0;
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0;
    bottom:0;
    animation: rotate4 16s infinite linear;
}
.Planeta5{
    background-color: rgb(226, 24, 24);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: auto;
    padding: 0;
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0;
    bottom:0;
    animation: rotate5 32s infinite linear;
}
.Planeta6{
    background-color: rgb(226, 0, 188);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: auto;
    padding: 0;
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0;
    bottom:0;
    animation: rotate6 64s infinite linear;
}
.Planeta7{
    background-color: rgb(119, 71, 0);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: auto;
    padding: 0;
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0;
    bottom:0;
    animation: rotate7 128s infinite linear;
}
.Planeta8{
    background-color: rgb(0, 63, 0);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: auto;
    padding: 0;
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0;
    bottom:0;
    animation: rotate8 256s infinite linear;
}
